a{
  text-decoration: none;
  color: #ba68c8;
}
a:hover{
  text-decoration: none;
  color: #9c27b0;
}
.main-nav{
  width: 100%;
  height: 150px;
  background-image: url("images/nav-banner.jpg");
  background-size: cover;
  background-position: center;
}
.main-nav-cover{
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(0,0,0,0.5); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.4)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.4)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.4)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.4)); /* Standard syntax (must be last) */
}
.little-nav{
  background: #eeeeee;
  height: 50px;
  width: 100%;
  position: relative;
  z-index: 4;
}
.little-menu, .little-menu-real, .little-menu-real2{
  padding: 15px 0px 0px 10px;
  letter-spacing: .1em;
  display: inline-block;
  cursor: pointer;
}
.little-menu-real, .little-menu-real2{
  display: none;
}
.little-menu-icon{
  font-size: 9pt;
  color: grey;
  display: none;
}
.nav-search{
  width: 350px;
  float: right;
  height: 100%;
  margin: 0px 0px 5px 5px;
  border: 1px solid rgba(0,0,0,0.2);
  display: inline-block;
  padding: 3px 5px;
  font-size: 10pt;
}
.nav-search:hover{
  border: 1px solid #ba68c8;
}
.nav-search-button2, .nav-search-button{
  float: right;
  background: #ba68c8;
  width: 50px;
  height: 100%;
  color: white;
  border: 0px;
  margin: 0px 0px 5px 0px;
}
.nav-search-button{
  margin: 3px 20px 5px 3px;
  border-left: 1px dotted #e0e0e0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.search-box{
  display: none;
  float: right;
}
.mini-menu, .mini-menu2{
  width: 170px;
  height: 250px;
  background: white;
  position: absolute;
  top: 35px;
  z-index: 4;
  display: none;
}
.mini-menu2{
  top: 50px;
}
.mini-menu-item{
  display: inline-block;
  width: 100%;
  height: 50px;
  padding: 10px;
}
.menu{
  color: white;
  position: absolute;
  right: 50px;
  bottom: 10px;
}
.menu-item-main, .menu-item{
  cursor: pointer;
  color: white;
  padding: 0px 5px;
}
.menu-item-main{
  color: #ba68c8;
}
.content{
  margin: auto;
  width: 80%;
  position: relative;
  margin-top: 10px;
  background: white;
}
.content-main{
  width: 64%;
  display: inline-block;
}
.content-two{
  width: 33%;
  display: inline-block;
  background: #eeeee;
  position: absolute;
  left: 67%;
}
.content-main-item{
  width: 100%;
  height: 250px;
  margin-top: 10px;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid darkgrey;
}
.posted-image-container{
  width: 45%;
  height: 100%;
  display: inline-block;
  position: relative;
}
.posted-image{
  width: 100%;
  height: 100%;
  display: inline-block;
}
.posted-item{
  width: 53%;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 46%;
}
.posted-title{
  font-weight: 600;
  font-size: 13pt;
  display: block;
  color: black;
  cursor: pointer;
}
.posted-title:hover{
  color: #ba68c8;
}
.posted-by{
  font-size: 10pt;
  width: 100%;
  display: block;
  margin: 10px 0px;
}
.misc{
  color: darkgrey;
}
.poster-name{
  color: #ba68c8;
}
.post-reviews, .featured-reviews{
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 10px;
  display: block;
  padding: 7px;
  border-top: 1px solid darkgrey;
}
.featured-reviews{
  position: static;
  height: 30px;
  padding: 5px;
}
.review-count{
  color: #ba68c8;
}
.tag-container{
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 30px;
  display: inline-block;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  padding: 3px 10px;
  overflow: hidden;
}
.tag-item{
  display: inline-block;
  height: 25px;
  padding: 3px 6px;
  margin-right: 3px;
}
.ads, .featured, .random{
  width: 100%;
}
.ads-header, .featured-header, .random-header{
  width: 100%;
  height: 30px;
  color: darkgrey;
  text-align: center;
  padding: 5px;
}
.featured-header, .random-header{
  background: #ba68c8;
  color: white;
}
.ads-body{
  width: 100%;
  height: 200px;
  background: white;
  margin-bottom: 10px;
  border: 1px solid darkgrey;
}
.featured-body, .random-body{
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-bottom: 1px solid darkgrey;
}
.featured-image-container{
  width: 100%;
  height: 170px;
  position: relative;
  margin: auto;
  display: block;
}
.featured-image{
  width: 100%;
  height: 100%;
  display: inline-block;
}
.load-more{
  width: 100%;
  height: 40px;
  padding: 10px;
  color: grey;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: grey;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}
.load-more:hover{
  background: #ba68c8;
  color: white;
}
.to-top{
  width: 50;
  height: 50;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  text-align: center;
  border-radius: 3px 3px 0px 0px;
  background: grey;
  z-index: 4;
}
.to-top:hover{
  background: #9c27b0;
}
.to-top-item1{
  width: 100%;
  height: 15px;
  display: inline-block;
  color: white;
  margin-top: 15px;
}
.pupflav-card{
   box-shadow: 0px 0px 5px lightgrey;
}
.page-footer{
  width: 100%;
  height: 150px;
  display: block;
  position: absolute;
  bottom: -160px;
  left: 0px;
  background-image: url('images/footer-banner.jpg');
  background-position: center;
  background-size: cover;
  z-index: 8;
}
.page-footer-cover{
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(0,0,0,0.9); /* For browsers that do not support gradients */
}
.footer-text{
  font-size: 16pt;
  text-align: center;
  color: darkgrey;
  font-weight: 800;
  display: block;
  padding-top: 15px;
}
.footer-image{
  display: block;
  width: 11%;
  margin: 10px auto;
}
.img-item{
  display: inline-block;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.last-text{
  color: white;
  margin-left: 10px;
  margin-top: 15px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.last-text-real{
  float: right;
  margin-right: 25px;
  margin-top: 15px;
  color: white;
}
body{
  position: relative;
}


















.Music{
  background: #ff9800;
}
.Sport{
  background: #f44336;
}
.Entertainment{
  background: #2196f3;
}
.Education{
  background: #009688;
}
.Politics{
  background: #4caf50;
}






.strech{
  -webkit-animation-name: strech;
  -webkit-animation-duration: 1s;
  animation-name: strech;
  animation-duration: 1s;
}

@-webkit-keyframes strech {
 from {width: 0px;}
 to {width: 180px;}
}

@keyframes strech {
from {width: 0px;}
to {width: 180px;}
}


@media only screen and (max-width: 800px){
  .content{width: 100%;}
  .content-main{width: 97%; display: block; margin: auto;}
  .content-two{width: 100%; display: block; position: static; margin-top: 50px;}
  .featured-image-container{width: 50%;}
  .footer-image{width: 20%;}
  .img-item{width: 35px; height: 35px;}
}

@media only screen and (max-width: 450px){
  .nav-search{width: 180px; margin: 0px 0px 5px 0px; height: 100%;}
  .nav-search-button{margin: 2.5px 2px 5px 0px; width: 30px; height:30px; }
  .menu{display: none;}
  .main-nav{height: 70px;}
  .little-nav{height: 35px;}
  .little-menu-real{display: inline-block; padding: 7px 0px 0px 5px;}
  .little-menu-real2{display: none;}
  .little-menu{font-size: 10pt; letter-spacing: 0em; padding: 7px 0px 0px 3px;}
  .to-top{width: 40px; height: 40px;}
  .to-top-item1{font-size: 9pt; margin-top: 7px; height: 15px;}
  .content-main-item{height: 420px;}
  .posted-image-container{display: block; position: absolute; width: 95%; height: 150px; top: 120px; left: 2%;}
  .posted-item{display: block; width: 100%; position: static;}
  .posted-by{margin: 5px 0px;}
  .posted-text{margin-top: 200px; display: block;}
  .posted-title{font-size: 12pt;}
  .featured-image-container{width: 90%;}
  .footer-image{width: 40%;}
  .img-item{width: 30px; height: 30px;}
  .last-text-real, .last-text{display: inline-block; text-align: center; width: 100%; margin-top: 5px; font-size: 9pt;}
  .last-text{width: 45%;}
}
@media screen and (min-width: 450px)  and (max-width: 600px){
  .nav-search{width: 250px;}
  .content-main-item{height: 400px;}
  .posted-image-container{display: block; position: absolute; width: 75%; height: 150px; top: 80px;left: 10%;}
  .posted-item{display: block; width: 100%; position: static;}
  .posted-by{margin: 5px 0px;}
  .posted-text{margin-top: 180px; display: block;}
  .posted-title{font-size: 12pt;}
  .footer-image{width: 25%;}
  .img-item{width: 30px; height: 30px;}
}
@media screen and (min-width: 800px)  and (max-width: 1000px){
  .content{width: 90%;}
  .footer-image{width: 17%;}
  .img-item{width: 35px; height: 35px;}
}
@media screen and (min-width: 1000px)  and (max-width: 1100px){
  .footer-image{width: 20%;}
  .img-item{width: 40px; height: 40px;}
}
@media screen and (min-width: 1100px)  and (max-width: 1300px){
  .footer-image{width: 13%;}
}
